.add-match {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 3rem;
}

.add-match {
    background-image: url(../assets/images/img-7.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 50px;
}

.container {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 5px 5px black;
    width: 90vw;
    margin-bottom: 50px;
}

.container h3 {
    font-size: 20px;
    text-align: center;
}

.add-match-data-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
}

.add-match-data {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    align-items: center;
}
.match-input-sections {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20vw;
    white-space: nowrap;
}

.add-match-data label {
    background-color: rgb(94, 26, 126);
    text-align: center;
    width: 100%;
}

.add-match-data input {
    background-color:gray;
    font-size: 13px;
    height: 25px;
    width: 100%;
    text-align: left;
    border: 1px solid #3d3d3d;
    padding-left: 2px;
}

.add-match-data ::placeholder {
    color: #3d3d3d;
    font-size: 13px;
}

.add-match-data .suggestions {
    background-color: grey;
    color: black;
    width: 20vw;
    font-size: 13px;
    border: 2px solid #3d3d3d;
}

.add-match-data .suggestions :hover {
    color: black;
    background-color: rgb(208, 208, 208);
}

.add-match-data .suggestions li {
    height: 25px;
}

.add-match button {
    font-size: 15px;
}

.add-match-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

/* ################## Add Stats Styling ########################*/

.add-stat-data-container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
}

.add-stat-data-sub {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
}

.add-stat-data {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    padding: 0px 0px 5px 0px;
    font-size: 17px;
}

.add-stat-btn-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1vw;
}

.add-stat-btn-container button {
    width: 90px;
    padding: 6px;
    margin-top: 5px;
    font-size: 8px;
    white-space: nowrap;
}

.add-stat-data > :first-child {
    width: 16vw;
}

.player-input-sections {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 8vw;
    white-space: nowrap;
}

.add-stat-labels {
    display: grid;
    grid-template-columns: repeat(4, auto);
    font-size: 14px;
}

.add-stat-labels > :first-child {
    width: 16vw;
}

.add-stat-labels label {
    background-color: rgb(54, 179, 213);
    text-align: center;
    width: 8vw;
    white-space: nowrap;
}

.left-label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.add-stat-data input, select {
    background-color: gray;
    font-size: 12px;
    height: 23px;
    width: 100%;
    border: 1px solid #3d3d3d;
    padding-left: 2px;
}

.add-stat-data ::placeholder {
    color: #3d3d3d;
    font-size: 11px;
}

.add-stat-data .suggestions {
    background-color: grey;
    color: black;
    width: 16vw;
    font-size: 12px;
    border: 2px solid #3d3d3d;
}

.add-stat-data .suggestions :hover {
    color: black;
    background-color: rgb(208, 208, 208);
}

.add-stat-data .suggestions :focus {
    z-index: 4;
}

.add-stat-data .suggestions li {
    height: 23px;
}

@media screen and (max-width: 960px) {
    .add-match {
        font-size: 40px;
    }

    .add-match-data {
        font-size: 17px;
    }

    /* ########################## */

    .add-stat-labels {
        font-size: 11px;
    }

    .add-stat-data input, .add-stat-data .suggestions, select {
        font-size: 10px;
    }
    
    .add-stat-data input, .add-stat-data .suggestions li, select {
        height: 21px;
    }

    .add-stat-data ::placeholder {
        font-size: 10px;
    }
}

@media screen and (max-width: 720px) {
    .add-match{
        font-size: 25px;
    }

    .add-match-data {
        font-size: 15px;
    }

    .add-match-data input, .add-match-data .suggestions {
        font-size: 11px;
    }

    .add-match-data input, .add-match-data .suggestions li {
        height: 23px;
    }

    .add-match-data ::placeholder {
        font-size: 11px;
    }

    /* ########################## */

    .add-stat-labels {
        font-size: 9px;
    }

    .add-stat-data input, .add-stat-data .suggestions, select {
        font-size: 8px;
    }

    .add-stat-data input, .add-stat-data .suggestions li, select {
        height: 19px;
    }

    .add-stat-data ::placeholder {
        font-size: 8px;
    }
}

@media screen and (max-width: 550px) {
    .add-match-data input, .add-match-data .suggestions {
        font-size: 9px;
    }

    .add-match-data input, .add-match-data .suggestions li {
        height: 21px;
    }

    .add-match-data ::placeholder {
        font-size: 9px;
    }

    /* ########################## */

    .add-stat-labels {
        font-size: 8px;
    }

    .add-stat-data input, .add-stat-data .suggestions, select {
        font-size: 6px;
    }

    .add-stat-data input, .add-stat-data .suggestions li, select {
        height: 17px;
    }

    .add-stat-btn-container button {
        font-size: 6px;
        padding: 4px;
        width: 70px;
    }
}

@media screen and (max-width:450px) {

    .container h3 {
        font-size: 13px;
    }

    .add-match {
        font-size: 23px;
    }

    .add-match-data{
        font-size: 10px;
    }

    .add-match-data input, .add-match-data .suggestions {
        font-size: 6px;
    }

    .add-match-data input, .add-match-data .suggestions li {
        height: 18px;
    }

    .add-match-data ::placeholder {
        font-size: 6px;
    }

    /* ########################## */

    .add-stat-labels {
        font-size: 6px;
    }

    .add-stat-data input, .add-stat-data .suggestions, select {
        font-size: 5px;
    }

    .add-stat-data input, .add-stat-data .suggestions li, select {
        height: 16px;
    }

    .add-stat-data ::placeholder {
        font-size: 5px;
    }
}