.results {
    display:flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 2rem;


    background-image: url(../assets/images/img-2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.matches {
    position: relative;
    top: 0vh;
}

.matches h3 {
    font-size: 100px;
    text-align: center;
}

.matches ul {
    width: 80vw;
    font-size: 20px;
    background-color: #242424;
    list-style: none;
    border-radius: 10px;
    border: 1px solid #fff;
}

.match-item {
    display: grid;
    grid-template-columns: repeat(3,auto);
    text-align: center;
    width: 80vw;
    border-bottom: 1px solid #fff;;
    white-space: nowrap;
}

.match-item li {
    padding: 10px;
}

.score {
    border-radius: 10px;
    background-color: #5e1a7e;
    width: 10vw;
}

.home-team {
    width: 30vw;
    text-align: right;
}

.away-team {
    width: 30vw;
    text-align: left;
}

/* .match-item:hover {
    background-image: linear-gradient(136.89deg, rgb(5, 240, 255) -50%, rgb(115, 103, 255) 40.0%, rgb(150, 60, 255) 56.4%, rgb(150, 60, 255) 56.4%, rgb(115, 103, 255) 80.16%, rgb(5, 240, 255) 120%);
} */

@media screen and (max-width: 760px) {
    .matches h3 {
        font-size: 70px;
    }
    .match-item li {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {

    .match-item li {
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {
    .match-item li {
        font-size: 10px;
    }
}