.sign-in {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    padding: 75px;
    text-align: center;
    /* justify-content: center; */
    font-size: 3rem;
    white-space: nowrap;
}

.sign-in {
    background-image: url(../assets/images/img-8.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
}

.sign-in-container {
    background-color: #242424;
    border-radius: 10px;
    width: 90vw;
    padding: 30px;
}

.sign-in p {
    font-size: 30px;
    white-space: nowrap;
}

@media screen and (max-width: 960px) {
    .sign-in {
        font-size: 50px;
    }

    .sign-in p {
        font-size: 20px;
    }

}

@media screen and (max-width: 480px ) {
    .sign-in {
        font-size: 40px;
    }

    .sign-in p {
        font-size: 15px;
    }
}