.navbar {
    background: linear-gradient(90deg, rgb(94, 26, 126) 0%, rgb(26, 23, 23) 100%);/*Nav bar changed from black Gradient*/
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

/* User Signed In Container */
.navbar-signin-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-width: 110px;
}

.navbar-button-container button {
    padding: 5px;
    font-size: 1.2rem;
    width: 100px;
}

.navbar-signin-container button {
    padding: 5px;
    font-size: 1.2rem;
    width: 100px;
}

.navbar-profile {
    display: flex;
    position: relative;
    color: white;
    font-size: 1.2rem;
    white-space: nowrap;
}

.nav-profile-photo {
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 5px;
}

.nav-user-submenu {
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-submenu-item {
    padding: 5px;
    width: 100%;
    border-top: 1px solid #2f2f2f;
    border-bottom: 1px solid #2f2f2f;
}

.nav-submenu-button {
    padding: 5px;
}

.nav-submenu-item:hover {
    background-color: white;
    transition: all 0.2s ease-out;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.nav-submenu-item:hover .nav-admin-link {
    color: black;
}

.nav-admin-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-profile:hover + .nav-user-submenu,
.navbar-signin-container:hover .nav-user-submenu,
.navbar-signin-container:hover {
    display: flex;
    flex-direction: column;
}

.navbar-signin-container:hover  .nav-user-submenu,
.navbar-signin-container:hover {
    background-color: #242424;
    box-shadow: 5px 3px 3px black;
}

.nav-item .nav-profile-photo {
    margin-right: 5px;
}
/* ######################### */

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(9, auto);/* was 4 but adjusted to 8 for number of items*/
    grid-gap: 9px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 1.7rem;
}

.nav-item {
    height: 60px;
    /* was 80px */
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}



/* added this sort section to help responsiveness with longer menu  */
@media screen and (max-width: 1360px) {
    .nav-item {
        font-size: 1rem;
    }
    .nav-links {
        padding: 0.5rem 0.5rem;
    }

    /* ############### */

    .navbar-profile {
        font-size: 1rem;
    }

    .navbar-button-container button {
        font-size: 1rem;
    }

    .navbar-signin-container button {
        font-size: 1rem;
    }

    .nav-admin-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: start; /* finally found why my menu kept going bottom (added the line) */
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        height: 0;
        display: table;
    }

    .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 1.2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.3rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }
}